---
import { Icon } from "astro-icon/components";
const { currentPage, totalPages, currentTag } = Astro.props;

const getPageUrl = (page) => {
	const base = currentTag === "all" ? "/blogs" : `/blogs/${currentTag.toLowerCase()}`;
	if (page === 1) return base;
	return `${base}/${page}`;
};

const prevUrl = currentPage > 1 ? getPageUrl(currentPage - 1) : "#";
const nextUrl = currentPage < totalPages ? getPageUrl(currentPage + 1) : "#";
---

<div class="blog-pagination__container">
	{totalPages > 1 && (
		<nav class="blog-pagination">
			<a href={prevUrl} class="pagination__btn" style={currentPage === 1 ? "opacity: 0.5; pointer-events: none;" : ""}>
				<Icon name="fa6-solid:arrow-left" />
			</a>

			{[...Array(totalPages)].map((_, i) => {
				const page = i + 1;
				return (
					<a 
						href={getPageUrl(page)} 
						class={`blog-pagination__button ${currentPage === page ? "blog-pagination__button--active" : ""}`}
					>
						{page}
					</a>
				);
			})}

			<a href={nextUrl} class="pagination__btn" style={currentPage === totalPages ? "opacity: 0.5; pointer-events: none;" : ""}>
				<Icon name="fa6-solid:arrow-right" />
			</a>
		</nav>
	)}
</div>

<style is:global lang="scss">
	@use "./BlogPagination.scss";
</style>
