---
import './Experience.scss';
const { title, experiences } = Astro.props;
---
<div class="experience">
	<h2>{title}</h2>
	{
		experiences?.map((experience: any) => (
			<div class="experience__item">
				<strong>{experience.company}</strong> 
				<em>{experience.role}</em>
				{experience.duration}
				<ul>
					{experience.description.map((desc:string) => (
						<li><p>{desc}</p></li>
					))}
				</ul>
			</div>
		))
	}
</div>
