---
const { title, experiences } = Astro.props;
---
<div class="card experience">
	<h2 class="font-display experience__title">
		<i class="fa-solid fa-briefcase text-primary experience__icon"></i> {title}
	</h2>
	
	<div class="experience__timeline">
		{experiences?.map((experience: any, index: number) => (
			<div class="experience__item">
				<span class={`experience__dot ${index === 0 ? 'experience__dot--primary' : 'experience__dot--secondary'}`}></span>
				<div class="experience__header">
					<h3 class="experience__company">{experience.company}</h3>
					<p class="experience__role">{experience.role}</p>
				</div>
				<p class="experience__duration">{experience.duration}</p>
				<ul class="experience__description">
					{experience.description.map((desc:string) => (
						<li>{desc}</li>
					))}
				</ul>
			</div>
		))}
	</div>
</div>

<style lang="scss">
	@use "./Experience.scss";
</style>
