---
import { Icon } from "astro-icon/components";
const { post } = Astro.props;

const formattedDate = post.data.pubDate.toLocaleDateString('en-US', {
	month: 'short',
	day: 'numeric',
	year: 'numeric'
});
---

<a href={`/tech-blogs/${post.slug || post.id}`} class="blog-card-link">
	<article class="card blog-card" data-category={post.data.tag?.toLowerCase()}>
		{post.data.image && (
			<div class="blog-card__image-container">
				<img src={post.data.image} alt={post.data.title} class="blog-card__image" />
			</div>
		)}
		<div class="blog-meta">
			<span class={`blog-tag blog-tag--${post.data.tagClass.replace('tag-', '')}`}>{post.data.tag}</span>
			<span class="blog-meta__date text-muted">{formattedDate}</span>
		</div>
		<h3 class="blog-card__title font-display" transition:name={`title-${post.slug || post.id}`}>
			{post.data.title}
		</h3>
		<p class="blog-card__description text-muted">
			{post.data.description}
		</p>
		<div class="blog-card__footer">
			<span class="blog-meta__read-time text-muted">
				<Icon name="fa6-regular:clock" /> {post.data.readTime}
			</span>
			<span class="blog-card__read-more">Read More <Icon name="fa6-solid:arrow-right" /></span>
		</div>
	</article>
</a>

<style lang="scss">
	@use "../../styles/_blog-shared.scss";
	@use "./BlogCard.scss";

	.blog-card-link {
		text-decoration: none;
		color: inherit;
		display: block;
	}
</style>
